<title>My application deployed automatically</title>
<h1>Hello, World!</h1>
	
	In the first form, enter a list of integers separated by a newline character.<br>
	In the second form, enter a another list of integers separated by a newline character.<br>
	In the third form, enter integer. <br>
	In the fourth form, enter another integer. <br>
    For indexes between the first integer value and the second integer value, returns true if the elements in the first integer list and the second integer list are the same.<br><br>
	Result is {{result}}
<form action="compute" method="post">
			<textarea name="input1" rows="10" cols="30"></textarea>
			<textarea name="input2" rows="10" cols="30"></textarea>
			<textarea name="input3" rows="10" cols="30"></textarea>
			<textarea name="input4" rows="10" cols="30"></textarea>
			<br>
			<input type="submit">
</form>
